In [3]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import spacy 
nlp = spacy.load("en_core_web_sm")
from keras.preprocessing.text import Tokenizer
from keras.utils import pad_sequences
from sklearn.model_selection import train_test_split
from keras import Sequential
from keras.utils import to_categorical
from keras import layers
import numpy as np

User-defined Functions

In [2]:
def preprocess(text):
    doc = nlp(text)
    tokens = [token.lemma_ for token in doc if not (token.is_punct or token.is_stop) ]
    return ' '.join(tokens)

def find_max_len_string(texts):
    max_len = len(texts.loc[0])
    max_string = ''
    i = 0
    while i < len(df1):
        s = texts.loc[i]
        # print(s)
        if len(s) < max_len:
            max_len = len(s)
            max_string = s
        i += 1
    return  max_string

def findMinMax(arrays):
    max = None
    max_len = 0
    min_len = len(arrays[0])
    min = arrays[0]
    for array in arrays:
        size = len(array)
        if size > max_len:
            max = array
        if size < min_len:
            min = array
    return max, min

Read Data

In [4]:
df = pd.read_csv('../Assignments/archive/training.1600000.processed.noemoticon.csv', encoding = "cp1252")
first_row = df.columns
df.columns = ['target', 'id', 'date', 'flag', 'user', 'text']
first_row_df = pd.DataFrame(data=None, columns = df.columns)
first_row_df.loc[0] = first_row
df = pd.concat([first_row_df,df])
df.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."